# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.env.*

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/

# Windsurf / IA tooling (si fichiers locaux générés)
.windsurf/
